.menu {
    height: 850px;
    background: rgba(0, 0, 0, 0.3);
}

.page > div {
    display: none;
}

#comprehensiveOfThisMonth > div {
    height: 400px;
}

#morningShiftOfThisMonth > div {
    height: 400px;
}

#middleShiftOfThisMonth > div {
    height: 400px;
}


#eveningShiftOfThisMonth > div {
    height: 400px;
}

#list>div{
    height: 400px;
}