.navigation {
    /*height: 100px;*/
    /*line-height: 100px;*/
    /*background-color: seashell;*/
    /*overflow: hidden;*/
}

.menu {
    height: 850px;
    background: rgba(0, 0, 0, 0.3);
}

.page > div {
    display: none;
}

#comprehensiveOfThisMonth > div {
    height: 400px;
}

#morningShiftOfThisMonth > .row > .col-lg-6 > div {
    height: 400px;
}

#middleShiftOfThisMonth > .row > .col-lg-6 > div {
    height: 400px;
}


#eveningShiftOfThisMonth > .row > .col-lg-6 > div {
    height: 400px;
}